<section class="contact-us container">
    <div class="contact-us__social">
        <div class="icon-container">
            <span class="iconify icon" data-icon="akar-icons:twitter-fill" style="color: #ff5722;" data-width="24" data-height="24"></span>
        </div>
        <div class="icon-container">
            <span class="iconify icon" data-icon="akar-icons:telegram-fill" style="color: #ff5722;" data-width="24" data-height="24"></span>
        </div>
        <div class="icon-container">
            <span class="iconify icon" data-icon="brandico:linkedin-rect" style="color: #ff5722;" data-width="24" data-height="24"></span>
        </div>
    </div>
    <div class="contact-us__icons">
        <div class="icon-holder">
            <span class="icon-holder__label">sample@gmail.com</span>
            <div class="icon-container">
                <span class="iconify icon" data-icon="carbon:email" style="color: #ff5722;" data-width="24" data-height="24"></span>                </div>
        </div>
        <div class="icon-holder">
            <span class="icon-holder__label">09302011621</span>
            <div class="icon-container">
                <span class="iconify icon" data-icon="bi:telephone" style="color: #ff5722;" data-width="24" data-height="24"></span>                </div>
        </div>
        <div class="icon-holder">
            <span class="icon-holder__label">ایران-خوزستان-اهواز</span>
            <div class="icon-container">
                <span class="iconify icon" data-icon="ep:location-information" style="color: #ff5722;" data-width="24" data-height="24"></span>
            </div>
        </div>
    </div>
    <div class="contact-us__map">
        <img src="assets/images/e88105c689769a1478876f49cf4a2de4.png"
             alt="address of office">
    </div>
    <div class="contact-us__form">
        <div class="form-wrapper">
            <h3>نظرات شما</h3>
            <form>
                <input type="text" placeholder="نام و نام خانوادگی">
                <input type="email" placeholder="ایمیل خود را وارد کنید">
                <textarea></textarea>
                <button type="submit" class="btn btn--primary">ثبت نظر</button>
        </div>
    </div>
</section>
