<section class="hero-section">
    <picture>
        <source srcset="https://tapsi.ir/images/home/banner.webp" type="image/webp" media="(min-width: 768px)">
        <source srcset="https://tapsi.ir/images/home/banner.jpg" type="image/jpg" media="(min-width: 768px)">
        <source srcset="https://tapsi.ir/images/home/banner-mobile.webp" type="image/webp" media="(max-width: 768px)">
        <source srcset="https://tapsi.ir/images/home/banner-mobile.jpg" type="image/jpg" media="(max-width: 768px)">
        <img alt="banner" src="https://tapsi.ir/images/home/banner.jpg" class="banner-img">
    </picture>
    <div class="hero-wrapper container">
        <div class="intro-btn">
            <h1>تپسی</h1>
            <h2>اپلیکیشن درخواست خودرو و پیک</h2>
            <div class="intro-wrapper">
                <div class="intro-btn__passenger">
                    <span class="iconify" data-icon="fluent:arrow-download-16-regular" style="color: rgba(23, 26, 60, 0.7);" data-width="24" data-height="24"></span>
                    <span class="passenger__text">دانلود اپلیکیشن مسافران</span>
                </div>
                <div class="intro-btn__passenger">
                    <span class="iconify" data-icon="mdi:web" style="color: rgba(23, 26, 60, 0.7);" data-width="24" data-height="24"></span>
                    <span class="passenger__text">وب اپلیکیشن مسافران</span>
                </div>
                <div class="intro-btn__driver">
                    <span class="iconify" data-icon="fa-solid:car" style="color: white;" data-width="24" data-height="24"></span>
                    <span class="driver__text">دانلود اپلیکیشن رانندگان</span>
                </div>
                <div class="intro-btn__driver">
                    <span class="iconify" data-icon="fluent:arrow-download-16-regular" style="color: white;" data-width="24" data-height="24"></span>
                    <span class="driver__text">ثبت نام راننده</span>
                </div>
            </div>
        </div>
    </div>
</section>
